	<div>
		<div id="menu">
			<ul>
				<img class="bann" src="pic/banner.png">
				<li><a href="/">Home Page</a></li>
				<li><a href="/download">Download</a></li>
				<li><a href="/donate">Donate</a></li>
				<li><a href="/app">App</a></li>
				<li><a href="/about">About Us</a></li>
			</ul>
		</div>
	</div>
