<!DOCTYPE html>
<html>
<head>
	<title>SHIELD MANGA</title>
	<meta name="yandex-verification" content="664e73d79c5d3848" />
	<base href="/" />
	<link rel="shortcut icon" href="pic/favicon.ico"> 
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/gen.css">
	<script src="js/jquery.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>

<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0&appId=168185827352506&autoLogAppEvents=1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div>
		<div id="menu">
			<ul>
				<img class="bann" src="pic/banner.png">
				<li><a href="/">Home Page</a></li>
				<li><a href="/download">Download</a></li>
				<li><a href="/donate">Donate</a></li>
				<li><a href="/about">App</a></li>
				<li><a href="/about">About Us</a></li>
			</ul>
		</div>
	</div>
	
	<div class="content">
		<div class="container">
			<div class="story-side">
				<h1>Recently release</h1>
				<div class="story">
					<div class="line">
						<a class="line-chap" href="/download/1/48">
							<div class="chap">
								<span class="name-story">Sự Trỗi Dậy của Khiên Hiệp Sĩ</span>
								<span class="numchap">48</span>
							</div>
							<span class="title-chap">Ma thú</span>
							<span class="up-date">28/02/2019</span>
						</a>
					</div>
					<div class="line">
						<a class="line-chap" href="/download/1/47">
							<div class="chap">
								<span class="name-story">Sự Trỗi Dậy của Khiên Hiệp Sĩ</span>
								<span class="numchap">47</span>
							</div>
							<span class="title-chap">Biến ảo vô song lưu</span>
							<span class="up-date">16/01/2019</span>
						</a>
					</div>
					<div class="line">
						<a class="line-chap" href="/download/1/46">
							<div class="chap">
								<span class="name-story">Sự Trỗi Dậy của Khiên Hiệp Sĩ</span>
								<span class="numchap">46</span>
							</div>
							<span class="title-chap">Cố vấn chiến đấu</span>
							<span class="up-date">06/01/2019</span>
						</a>
					</div>
					<div class="line">
						<a class="line-chap" href="/download/1/45">
							<div class="chap">
								<span class="name-story">Sự Trỗi Dậy của Khiên Hiệp Sĩ</span>
								<span class="numchap">45</span>
							</div>
							<span class="title-chap">Đồng đội mới</span>
							<span class="up-date">30/10/2018</span>
						</a>
					</div>
					<div class="line">
						<a class="line-chap" href="/download/1/44">
							<div class="chap">
								<span class="name-story">Sự Trỗi Dậy của Khiên Hiệp Sĩ</span>
								<span class="numchap">44</span>
							</div>
							<span class="title-chap">Oan sai tái diễn</span>
							<span class="up-date">14/10/2018</span>
						</a>
					</div>
					<div class="line">
						<a class="line-chap" href="/download/1/43">
							<div class="chap">
								<span class="name-story">Sự Trỗi Dậy của Khiên Hiệp Sĩ</span>
								<span class="numchap">43</span>
							</div>
							<span class="title-chap">Cô nàng không triển vọng</span>
							<span class="up-date">27/08/2018</span>
						</a>
					</div>
					<div class="line">
						<a class="line-chap" href="/download/1/42">
							<div class="chap">
								<span class="name-story">Sự Trỗi Dậy của Khiên Hiệp Sĩ</span>
								<span class="numchap">42</span>
							</div>
							<span class="title-chap">Thùng nổ Rucol</span>
							<span class="up-date">23/05/2018</span>
						</a>
					</div>
				</div>
			</div>
			<div class="contact-side">
				<h1>Social channel</h1>
				<div class="discord-widget">
					<a href="https://discord.gg/p8N5sm2">
						<img class="dcw" src="https://discordapp.com/api/guilds/413382850730131466/embed.png?style=banner2">
					</a>
				</div>
				<div class="fb-widget">
					<div class="fb-page" data-href="https://www.facebook.com/shieldmanga/" data-tabs="timeline" data-width="320" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/shieldmanga/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/shieldmanga/">Shield Manga</a></blockquote></div>
				</div>
			</div>
		</div>
	</div>
	<div class="end">
		&copy <a href="https://www.facebook.com/shieldmanga">Shield Manga 2018</a>
	</div>
</body>
</html>