<!DOCTYPE html>
<html>
<head>
	<title>SHIELD MANGA</title>
	<base href="/" />
	<link rel="shortcut icon" href="pic/favicon.ico"> 
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/gen.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="js/jquery.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>

<body>
	<div>
		<div id="menu">
			<ul>
				<img class="bann" src="pic/banner.png">
				<li><a href="/">Home Page</a></li>
				<li><a href="/download">Download</a></li>
				<li><a href="/donate">Donate</a></li>
				<li><a href="/about">App</a></li>
				<li><a href="/about">About Us</a></li>
			</ul>
		</div>
	</div>
	
	<div class="content">
		<div class="container">
			<h1 class="s-t bold">Sự Trỗi Dậy của Khiên Hiệp Sĩ - Chương 42: Thùng nổ Rucol</h1>
			<div class="viewer">
				<div class="aPage">
					<div class="nump">
						01/34			
					</div>
					<div class="pi">
						<img src="pic/pattern.png">
					</div>
				</div>
				<!-- <div class="apic">
					<center>
						<div class="nump">01/34</div>
						<img src="https://lh3.googleusercontent.com/-_H9f_4jlTlA/Wxw17GkRM4I/AAAAAAAClCg/TrYlGbEd9PoqzTY5IBytx-yfoGBQlIsHgCHMYCw/s0/hocvientruyentranh.com-tate042_001.png" />
					</center>
				</div> -->
				
				<div class="cont">The story continues... <i class="material-icons" style="font-size: 16px">arrow_forward</i></div>
			</div>
		</div>
	</div>
	<div class="end">
		&copy <a href="https://www.facebook.com/shieldmanga">Shield Manga 2018</a>
	</div>
	
</body>
</html>