<!DOCTYPE html>
<html>
<head>
	<title>SHIELD MANGA</title>
	<base href="/" />
	<link rel="shortcut icon" href="pic/favicon.ico"> 
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/gen.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="js/jquery.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>

<body>
	<div>
		<div id="menu">
			<ul>
				<img class="bann" src="pic/banner.png">
				<li><a href="/">Home Page</a></li>
				<li><a href="/download">Download</a></li>
				<li><a href="/donate">Donate</a></li>
				<li><a href="/about">App</a></li>
				<li><a href="/about">About Us</a></li>
			</ul>
		</div>
	</div>
	
	<div class="content">
		<div class="container">
			<h1 class="s-t bold">SỰ TRỖI DẬY CỦA KHIÊN HIỆP SĨ</h1>
			<div class="stories">
				<a href="/download/1" class="astory">
					<img src="pic/s1.png">
					<div class="detail-story">
						<span class="name-story title">Sự Trỗi Dậy của Khiên Hiệp Sĩ</span>
						<span class="status going">Ongoing</span>
						<span class="t-n">Chương mới nhất:</span>
						<span class="title-chap bigger">Thùng gỗ Rucol</span>
						<span class="newest-chap">42</span>
						<div class="time">
							<span class="t-n">Ngày cập nhật: </span>
							<span class="title-chap bigger">24/05/2018</span>
						</div>
					</div>
				</a>
				
			</div>
			<div class="warn" style="font-size: 13px;background-color: #f6989d;margin-bottom: 10px;padding:10px;border-radius: 3px;">
				<h1 style="line-height: 20px;">
					Bản dịch này không có bản quyền, chúng tôi dịch với mục đích phi lợi nhuận. Chúng tôi không cho phép hay chấp nhận bất kỳ tổ chức nào sử dụng lại với mục đích thương mại. Bản dịch được chia sẻ <span style="font-weight: bold; color: #000;background-color: #ffe36c;font-size: 10px;line-height: 15px;padding:2px;border-radius: 2px;">miễn phí</span> cho những người yêu thích bộ truyện, nếu được bạn có thể mua ủng hộ các sản phẩm phát hành chính thức của bộ truyện.
				</h1>
					
			</div>
			<div class="downtb">
				<h1  class="bold d">DOWNLOAD</h1>
				<div class="avol">
					<img class="shadow" src="pic/s1.png">
					<div class="infvol">
						<span class="vol">VOLUME(10) - <a href="/" style="text-decoration: none;">Download</a></span>
						<ul>
							<li><a href="/">Download</a> - Chương 40: L'Arc Berg</li>
							<li><a href="/">Download</a> - Chương 39: Cá voi Thứ Nguyên</li>
							<li><a href="/">Download</a> - Chương 38: Thần Điện dưới nước</li>
							<li><a href="/">Download</a> - Chương 37: Những ngày ở đảo Cal Mira</li>
							<li><a href="/">Download</a> - Chương 36:Trận chiến lúc nửa đêm</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="end">
		&copy; <a href="https://www.facebook.com/shieldmanga">Shield Manga 2018</a>
	</div>
	
</body>
</html>